apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
  namespace: staging
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi-app
  template:
    metadata:
      labels:
        app: fastapi-app
    spec:
      imagePullSecrets:
      - name: nexus-cred
      containers:
      - name: fastapi-app
        image: fastapi_postgres_app:latest
        ports:
        - containerPort: 8000
        env:
        - name: POSTGRES_HOST
          value: "postgres-0.postgres.staging.svc.cluster.local"
        - name: POSTGRES_DB
          value: "mydb"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
