apiVersion: v1
kind: Service
metadata:
  name: fastapi-app-service
  namespace: staging
spec:
  selector:
    app: fastapi-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: 30020
  type: NodePort

